Repository ChiefORZ/leberkas-vote: changes, and which lefthook commands are due for each by the changed paths.
All: biome, lint, type-check

biome:
  halt_on_partially_staged_files: true
  run: pnpm exec biome check --write {staged_files} && git add {staged_files}

lint:
  run: pnpm exec eslint --fix {staged_files} && git add {staged_files}

type-check:
  run: pnpm run typecheck

chore: change execution order
  turbo.json
Due: biome

chore: use latest node and pnpm
  .github/workflows/test.yml
  Dockerfile
  package.json
  pnpm-lock.yaml
Due: biome

chore: use correct scripts in dockerfile
  Dockerfile
  turbo.json
Due: biome

chore: try run pnpm run
  Dockerfile
Due: none

chore: update built dependencies
  package.json
Due: biome

fix: add openssl to docker
  Dockerfile
Due: none

fix: configure turbo build with environment variable pass-through
  .husky/_/prepare-commit-msg
  turbo.json
Due: biome

chore: remove incorrect hookspath
  .husky/_/commit-msg
  .husky/_/pre-commit
Due: none

fix: add HOSTNAME environment variable to Dockerfile.
  Dockerfile
Due: none

feat: update next.js version
  next-env.d.ts
  next.config.ts
  package.json
  pnpm-lock.yaml
  src/app/api/s3-upload/route.ts
  src/app/layout.tsx
  src/app/page.tsx
  src/pages/api/plaiceholder.ts
  src/pages/api/s3-upload.ts
Due: biome, lint, type-check

refactor: missing file changes
  src/app/(auth)/login/page.tsx
  src/app/RatingOverlay.client.tsx
  src/app/UploadItem.client.tsx
  src/hooks/useWhyDidYouUpdate.ts
  src/lib/auth.ts
  tests/setup.ts
Due: biome, lint, type-check

chore: github workflows cleanup
  .github/workflows/test.yml
Due: none

Path conditions:
  biome: any of: *.{js,ts,jsx,tsx,json}
  lint: any of: *.{js,ts,jsx,tsx}
  type-check: any of: *.{ts,tsx}
